@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Diego Díaz Mendoza</h1>
    <h2> HEYHEYHEY This is my first ASP . NET App</h2>
    <p>Blog personal</p>
</div>
